@{
    ViewData["Title"] = "About Page";
}
<link rel="stylesheet" type="text/css" href="~/css/extraStyle.css">

<div id="page">
		<div id="header">
			
		</div>
		<div id="body">
			<div>
				<h1>ABOUT US</h1>
				<img src="~/css/ankita-dp.jpg" alt="">
				<h2>Ankita Sharma</h2>
				<p>Currently a student at USF's Business Analytics and Information Systems graduate program and worked as an 
					Analyst for 3 years. The idea of this project was designed by Ankita. She did the initial research of what 
					should be the theme of this webpage and where should we extract the data and went ahead and shared her thoughts 
					and design with the team.

				</p>
				
			</div>
			<div>
				
				<img src="~/css/rishabh-dp.JPG" alt="">
				<h2>Rishabh Srivastav</h2>
				<p>A graduate student in Business Analytics and Information Systems at USF, Rishabh has 6.5 years of experience in
					Data Science. He contributed to designing the database model to store the data from data.gov and helped in 
					designing the webpage. Rishabh also helped the team by keeping them motivated.</p>
				
			</div>
			<div>
				
				<img src="~/css/surabhi-dp.jpg" alt="">
				<h2>Surabhi Summi</h2>
				<p>A graduate student in Business Analytics and Information Systems at USF Surabhi with 6 years experience in 
					UI/UX development. She was the main programmer of this website and contributed to creating the web pages.
					 She helped the team in providing useful insights on programming this website.</p>
				
			</div>
			<div>
				<div class="wrapper">
					<canvas id="myChart"></canvas>
			    </div>
				<br />
				<br />
				<h2><b>Top Genres</b></h2>
					
			</div>
			<div>
				
				<img src="images/erd.jpg" alt="" style="width: 692px; height: 832px;">
				<h2><b>ERD Diagram</b></h2>
					
			</div>
		</div>
		<div id="footer">
			<div>
				
				<p>DIS Assignment #3</p>
			</div>
		</div>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="~/js/chart.js"></script>